<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tg.entity.Report">

	<!--  查询操作-->
	<select id="findreprot" parameterType="report" resultType="report">
	  select * from report where r_con=#{r_con} and r_st=#{r_st}
	</select>

</mapper>