<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tg.entity.test">
    <!-- 插入操作 -->
	<insert id="add" parameterType="test">
	   insert into user(username,password) values(#{user},#{pwd})
	</insert>
	<!-- 删除操作 -->
	<delete id="delete" parameterType="int">
	  delete from test2 where username=#{user}
	</delete>
	<!-- 修改操作 -->
	<update id="update" parameterType="test">
	  update test2 set name=#{user},pwd=#{pwd} where username=#{user}
	</update>
	<!--  查询操作-->
	<select id="findById" parameterType="int" resultType="test">
	  select * from test2 where username=#{user}
	</select>
	<!-- 查询全部 -->
	<select id="findAll" resultType="test">
	   select * from test2
	</select>
</mapper>